<div class="row flex-row ">
  <div class='dashboard-main col-md-3'>
    <h1>Welcome to the Task Manager</h1>

    <ul class="dashboard-links">
      <li><a href="/tasks">Task Index</a></li>
      <li><a href="/tasks/new">New Task</a></li>


    </ul>
  </div>

</div>
