
<div class="row flex-row ">
  <div class='dashboard-main col-md-3'>
    <form action="/tasks" method="post">
      hiii
      <p>Enter a new task:</p>
      <input type='text' name='task[title]'/><br/>
      <textarea name='task[description]'></textarea><br/>
      <input type='submit'/>
    </form>
  </div>
</div>
